.button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: $white;
  border-radius: $btn-radius;
  min-height: 45px;
  width: 100%;
  cursor: pointer;
  padding: 0;
  letter-spacing: 0.05em;
  @include font($robotocondensed, 14px, 16px, 700, normal);
  text-transform: uppercase;

  &--callback {
    width: 180px;
    border: 1px solid $white;
    margin: auto;
    margin-right: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }

    &:hover,
    &:focus-visible {
      color: $main-cyan;
      border-color: $main-cyan;
    }
  }

  &--services {
    width: 63px;
    height: 63px;
    background-color: $main-cyan;
    border-radius: 0;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 27.5px;
      right: 26px;
      width: 9px;
      height: 9px;
      border-top: 2px solid $white;
      border-right: 2px solid $white;
      transform: rotate(45deg);
    }
  }

  &--form {
    border: 1px solid $white;
    margin-top: 43px;
    margin-bottom: 30px;
    flex: 1 0 270px;
    margin-right: 70px;

    @media (max-width: $tablet-width) {
      margin-top: 46px;
      flex: 1 0 281px;
      margin-right: 73px;
    }

    @media (max-width: $mobile-width) {
      flex-basis: 100%;
      margin: 30px 0 10px;
      min-height: 47px;
    }

    &:hover,
    &:focus-visible {
      border-color: $very-dark-blue;
      color: $very-dark-blue;
    }
  }

  &--modal {
    border: 1px solid $white;
    margin-top: 30px;
    margin-bottom: 34px;
    min-height: 47px;

    &:hover,
    &:focus-visible {
      border-color: $very-dark-blue;
      color: $very-dark-blue;
    }
  }

  &:hover,
  &:focus-visible {
    transition: $trans--300;
  }

  &:active {
    opacity: 0.5;
  }
}
