.services {
  background-color: $very-dark-blue;
  padding-top: 89px;
  padding-bottom: 100px;

  @media (max-width: $tablet-width) {
    padding: 51px 0;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 37px;
  }

  h2 {
    @include font($robotocondensed, 36px, 51px, 400, normal);
    color: $white;
    margin: 0;
    margin-bottom: 50px;

    @media (max-width: $tablet-width) {
      @include resize-txt(32px, 45px);
      margin-bottom: 48px;
      padding-right: 100px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(28px, 39px);
      margin-bottom: 41px;
      padding-left: 11px;
      padding-right: 0;
    }
  }
}

.services__wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    width: 720px;
    margin: 0 auto;
    flex-direction: column;
  }
}

.services__card-link {
  width: 370px;
  min-height: 620px;
  position: relative;
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    width: 720px;
    min-height: 256px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }

  &:not(:last-child) {
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      margin-right: 0;
      margin-bottom: 46px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
    }
  }

  p {
    @include font($robotocondensed, 20px, 30px, 400, normal);
    margin: 0;
    color: $white;
    padding: 52px 44px 30px;

    @media (max-width: $tablet-width) {
      padding-top: 42px;
    }

    @media (max-width: $mobile-width) {
      padding: 21px 35px 60px;
    }
  }

  &--production {
    background-image: url("../img/block-services/production-service-img.png");
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("../img/block-services/production-service-img@2x.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/block-services/production-service-img-tablet.png");

      @include retina {
        background-image: url("../img/block-services/production-service-img-tablet@2x.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/block-services/production-service-img-mobile.png");

      @include retina {
        background-image: url("../img/block-services/production-service-img-mobile@2x.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &--installation {
    background-image: url("../img/block-services/installation-service-img.png");
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("../img/block-services/installation-service-img@2x.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/block-services/installation-service-img-tablet.png");

      @include retina {
        background-image: url("../img/block-services/installation-service-img-tablet@2x.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/block-services/installation-service-img-mobile.png");

      @include retina {
        background-image: url("../img/block-services/installation-service-img-mobile@2x.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &--equip {
    p {
      @media (max-width: $tablet-width) {
        padding-top: 50px;
        padding-bottom: 22px;
      }

      @media (max-width: $mobile-width) {
        padding-top: 33px;
        padding-left: 36px;
        padding-bottom: 48px;
      }
    }
    background-image: url("../img/block-services/lighting-equipment-img.png");
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("../img/block-services/lighting-equipment-img@2x.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/block-services/lighting-equipment-img-tablet.png");

      @include retina {
        background-image: url("../img/block-services/lighting-equipment-img-tablet@2x.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/block-services/lighting-equipment-img-mobile.png");

      @include retina {
        background-image: url("../img/block-services/lighting-equipment-img-mobile@2x.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);

    & .services__btn {
      transition: $trans--300;
      border: 1px solid $main-cyan;
      background-color: transparent;

      &::after {
        border-color: $main-cyan;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.services__btn {
  width: 63px;
  height: 63px;
  background-color: $main-cyan;
  border-radius: 0;
  position: relative;
  left: calc(100% - 63px);
  top: 414px;

  @media (max-width: $tablet-width) {
    left: 657px;
    top: 61px;
  }

  @media (max-width: $mobile-width) {
    left: 227px;
    top: 52px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 27.5px;
    right: 27.5px;
    width: 6px;
    height: 6px;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    transform: rotate(45deg);
  }
}
